In [2]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import db

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime as dt
import warnings
warnings.filterwarnings("ignore")

### Make Connections & Get Full Data

In [6]:
secret_key_pat = '../.credentials/esp-datalogger-firebase-key.json'
db_url = "https://esp-datalogger-c6389-default-rtdb.asia-southeast1.firebasedatabase.app"
collection = '/UsersData/AmamuI0SZreYz5EJBWQvba6h0jk2/readings'

In [2]:
# Fetch the service account key JSON file contents
cred = credentials.Certificate(secret_key_pat)
# Initialize the app with a service account, granting admin privileges
firebase_admin.initialize_app(cred, {
    'databaseURL': db_url
})

ref = db.reference(collection)
data = ref.get()

In [3]:
df = pd.DataFrame(data).transpose()
df = df \
        .assign(
            datetime=df.datetime.astype(np.double), 
            ch1=df.ch1.astype(np.float16),
            ch2=df.ch2.astype(np.float16),
            ch3=df.ch3.astype(np.float16),
            ch4=df.ch4.astype(np.float16)
        )
df = df \
        .assign(datetime=df.datetime.apply(lambda x: dt.fromtimestamp(x))) \
        .set_index("datetime")
df.head(20)

                          ch1       ch2       ch3       ch4
datetime
2023-08-27 18:36:26  0.709961  0.429932  0.649902  0.489990
2023-08-27 18:36:36  0.540039  0.660156  0.520020  0.649902
2023-08-27 18:36:46  0.589844  0.589844  0.600098  0.540039
2023-08-27 18:36:56  0.680176  0.489990  0.589844  0.580078
2023-08-27 18:37:06  0.459961  0.759766  0.469971  0.660156
2023-08-27 18:37:16  0.669922  0.509766  0.629883  0.509766
2023-08-27 18:37:28  0.540039  0.640137  0.569824  0.569824
2023-08-27 18:37:37  0.729980  0.419922  0.629883  0.509766
2023-08-27 18:37:47  0.680176  0.489990  0.589844  0.580078
2023-08-27 18:37:57  0.489990  0.700195  0.509766  0.620117
2023-08-27 18:38:07  0.689941  0.489990  0.589844  0.580078
2023-08-27 18:38:17  0.609863  0.560059  0.609863  0.520020
2023-08-27 18:38:27  0.609863  0.580078  0.549805  0.629883
2023-08-27 18:38:37  0.459961  0.759766  0.469971  0.660156
2023-08-27 18:38:47  0.740234  0.379883  0.649902  0.489990
2023-08-27 18:38:57  0.459961  0.759766  0.469971  0.669922
2023-08-27 18:39:07  0.729980  0.399902  0.649902  0.479980
2023-08-27 18:39:17  0.469971  0.740234  0.479980  0.669922
2023-08-27 18:39:27  0.689941  0.469971  0.649902  0.489990
2023-08-27 18:39:37  0.469971  0.759766  0.469971  0.660156

In [4]:
# df[["ch1"]].plot(figsize=[12,8])
# plt.legend(loc='best')
# plt.title("Battery ch1")
# plt.show()

### Fetch Data Between a Date Range

In [5]:
# input
from_date_str = '2023-08-25'
to_date_str = '2023-08-30'

from_date = dt.strptime(from_date_str, '%Y-%m-%d').timestamp()
to_date = dt.strptime(to_date_str, '%Y-%m-%d').timestamp()
print(from_date_str, to_date_str)
print(from_date, to_date)
data_filtered = ref.order_by_key().start_at(str(int(from_date))).end_at(str(int(to_date))).get()

2023-08-25 2023-08-30
1692901800.0 1693333800.0

In [6]:
df_filtered = pd.DataFrame(data_filtered).transpose()
df_filtered.head(20)

             ch1   ch2   ch3   ch4    datetime
1693141586  0.71  0.43  0.65  0.49  1693141586
1693141596  0.54  0.66  0.52  0.65  1693141596
1693141606  0.59  0.59  0.60  0.54  1693141606
1693141616  0.68  0.49  0.59  0.58  1693141616
1693141626  0.46  0.76  0.47  0.66  1693141626
1693141636  0.67  0.51  0.63  0.51  1693141636
1693141648  0.54  0.64  0.57  0.57  1693141648
1693141657  0.73  0.42  0.63  0.51  1693141657
1693141667  0.68  0.49  0.59  0.58  1693141667
1693141677  0.49  0.70  0.51  0.62  1693141677
1693141687  0.69  0.49  0.59  0.58  1693141687
1693141697  0.61  0.56  0.61  0.52  1693141697
1693141707  0.61  0.58  0.55  0.63  1693141707
1693141717  0.46  0.76  0.47  0.66  1693141717
1693141727  0.74  0.38  0.65  0.49  1693141727
1693141737  0.46  0.76  0.47  0.67  1693141737
1693141747  0.73  0.40  0.65  0.48  1693141747
1693141757  0.47  0.74  0.48  0.67  1693141757
1693141767  0.69  0.47  0.65  0.49  1693141767
1693141777  0.47  0.76  0.47  0.66  1693141777

In [ ]:
# input
from_date_str = '2023-08-25'
to_date_str = '2023-08-30'

from_date = dt.strptime(from_date_str, '%Y-%m-%d').timestamp()
to_date = dt.strptime(to_date_str, '%Y-%m-%d').timestamp()
print(from_date_str, to_date_str)
print(from_date, to_date)
data_filtered = ref.order_by_key().start_at(str(int(from_date))).end_at(str(int(to_date)))